/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg2;
    text-color:             @fg;
	font:				 	"San Francisco Text 11";
}

window {
    width:      			225px;
    padding:    			25px;
    border:					4px;
    border-radius:          0px;
    border-color:           @bg4;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@fg;
}
